[submodule "plugins/CelAction"]
	path = plugins/CelAction
	url = https://github.com/tokejepsen/CelAction.git
[submodule "events/EventScript"]
	path = events/EventScript
	url = https://github.com/tokejepsen/EventScript.git
[submodule "plugins/TVPaint"]
	path = plugins/TVPaint
	url = https://github.com/tokejepsen/TVPaint.git
[submodule "plugins/Nuke/Cryptomatte"]
	path = plugins/Nuke/Cryptomatte
	url = https://github.com/Psyop/Cryptomatte.git
